<html xmlns="http://www.w3c.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>#{properties.ambiente} .:||:. Curso de Deploy</title>
    <style type="text/css">
body {
    background-image: url("img/cream-pixels.png");
}

.bold {
    font-weight: bold;
}

#content {
    margin: 0 auto;
    width: 960px;
    border: 1px solid black;
    padding: 40px;
    border-radius: 20px;
    margin-top: 100px;
}

#titulo {
    text-align: center;
    margin-bottom: 40px;
}

#formulario {
    width: 500px;
    margin: auto;
}

.resultado {
    font-weight: bold;
    margin-top: 20px;
}

.resultado span {
    color: red;
    margin-left: 10px;
    text-transform: capitalize;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 12px;
}

#footer-content {
    vertical-align: middle;
    line-height: 10px;
}
</style>
</h:head>
<h:body>
    <f:loadBundle basename="app" var="properties" />
    <div id="content">
        <h2 id="titulo">#{helloWorld.greetings()}
            #{properties.ambiente}</h2>
        <h:form id="formulario">
            <h:panelGrid columns="4" cellpadding="5">
                <h:outputLabel styleClass="bold" for="nome"
                    value="Digite seu nome completo:" />
                <p:inputText id="nome" placeholder="Primeiro nome"
                    value="#{helloWorld.name}" />
                <p:inputText id="sobrenome" placeholder="Último nome"
                    value="#{helloWorld.lastName}" />
                <div>
                    <p:commandButton value="Processar"
                        update="nome-invertido nome-jedi"
                        icon="pi pi-check" />
                    <p:commandButton value="Limpar"
                        action="#{helloWorld.clean()}"
                        update="nome sobrenome nome-invertido nome-jedi"
                        icon="pi pi-times"
                        style="background: red; border: 1px solid red" />
                </div>
            </h:panelGrid>
            <div class="resultado">
                <h:outputLabel for="nome-invertido"
                    value="Seu nome invertido é:" />
                <h:outputText id="nome-invertido"
                    value="#{helloWorld.nameReversed}" />
            </div>
            <div class="resultado">
                <h:outputLabel for="nome-jedi" value="Seu nome Jedi é:" />
                <h:outputText id="nome-jedi"
                    value="#{helloWorld.jediName}" />
            </div>
        </h:form>
    </div>
    <div id="footer">
        <p id="footer-content">#{properties.versao} | &#169; ESMPU</p>
    </div>
</h:body>
</html>